.swiper-wrapper-custom {
  position: relative;
  height: auto; /* Updated from 100vh to auto for more flexibility */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-swiper {
  width: 80%; /* Maintain width relative to parent */
  max-width: 1200px; /* Optional max-width for larger screens */
  margin: auto; /* Center the swiper */
}

.custom-slide {
  position: relative;
  width: 100%;
  height: 400px; /* Set a fixed height or adjust as needed */
  overflow: hidden; /* Keeps everything contained */
}

.custom-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the slide */
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.custom-slide-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the title perfectly */
  color: white; /* Ensures text is visible on darker images */
  text-align: center;
  width: 100%; /* Makes sure text is centered in any case */
  padding: 0 20px; /* Padding to ensure text doesn't touch the edges */
  z-index: 20; /* Ensures the title is above the image */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* Adds text shadow for better readability */
}

.btn-card {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  padding: 0.5em 1em; /* Example padding, adjust as needed */
  margin: 0; /* Reset margin */
  transition: 0.15s;
  background-color: #78afe2;
  color: white;
}
.btn-card:hover {
  background-color: #658eb5;
}

.custom-slide:hover img {
  transform: scale(1.05); /* Optional: slight zoom on hover */
}

.custom-slide p {
  flex-shrink: 0; /* Prevents the text section from shrinking */
  width: 100%; /* Full width */
  text-align: center;
  padding: 0.5rem 1rem; /* Padding for spacing around text */
}

.swiper-container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.swiper-navigation {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Allows clicks to pass through to elements below */
}

.swiper-button-prev,
.swiper-button-next {
  pointer-events: auto; /* Enable clicks on buttons */
}
